# Las credenciales SMTP nunca deben servirse por web
<Files "config.php">
  Require all denied
</Files>
<Files "smtp.php">
  Require all denied
</Files>
<Files "mail-error.log">
  Require all denied
</Files>
